.codi{
    background-color:lightgray;
    font-family: monospace;
    color: blue;
}

.negreta{
    font-weight: bold;
}

.petit{
    font-size: 30px;
}

.vermell{
    color: red;
}

.minuscules{
    text-transform: lowercase;
}